pre{
   width: 900px;
   height: 100px;
   background: red;
   font-size: 100px; 
   text-align: center;
   /*animation: myslide;
   animation-play-state: running;
   animation-iteration-count: infinite;
   animation-delay: 0s;
   animation-timing-function: linear;
   animation-duration: 5s;*/

   animation: 5s linear 0s infinite running mycolorchange;
}

@keyframes mycolorchange{
20%{background-color: red;}
40%{background-color: yellow;}
60%{background-color: blue;}
100%{background-color: purple;}
}